<!doctype html>
<html>
    <head>
        <title>Our Funky HTML Page</title>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">

        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="field">
            <div class="player1">
                <div class="player1_row1">
                    <span class="dot" id="player1_dot1"></span>
                    <span class="dot" id="player1_dot2"></span>
                    <span class="dot" id="player1_dot3"></span>
                </div>
                <div class="player1_row2">
                    <span class="dot" id="player1_dot4"></span>
                    <span class="dot" id="player1_dot5"></span>
                </div>
                <div class="player1_row3">
                    <span class="dot" id="player1_dot6"></span>
                </div>
            </div>
    
            <div class="player2">
                <div class="player2_row1">
                    <span class="dot" id="player2_dot1"></span>
                </div>
                <div class="player2_row2">
                    <span class="dot" id="player2_dot2"></span>
                    <span class="dot" id="player2_dot3"></span>
                </div>
                <div class="player2_row3">
                    <span class="dot" id="player2_dot4"></span>
                    <span class="dot" id="player2_dot5"></span>
                    <span class="dot" id="player2_dot6"></span>
                </div>
            </div>
        </div>
        
    </body>
</html>