$radius: 50px;


.dot {
    height: $radius;
    width: $radius;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    margin-bottom: $radius/4;
}

.player1 {
    float: left;

}

.player1_row1 {
    float: left;
}

.player1_row2 {
    float: left;
    margin-left: $radius/8;
    margin-top: $radius/2 + $radius/8;
}

.player1_row3 {
    float: left;
    margin-left: $radius/8;
    margin-top: $radius + $radius/4;
}

// #player1_dot1 {
//     background-color: green;

// }

// #player1_dot2 {
//     background-color: blue;
// }

// #player1_dot3 {
//     background-color: red;
// }

// #player1_dot4 {
//     background-color: brown;
// }

// #player1_dot5 {
//     background-color: gold;
// }

// #player1_dot6 {
//     background-color: aquamarine;
// }


.player2 {
}

.player2_row1 {
    float: left;
    margin-top: $radius + $radius/4;
    margin-left: $radius;
}

.player2_row2 {
    float: left;
    margin-left: $radius/8;
    margin-top: $radius/2+ $radius/8;
}

.player2_row3 {
    float: left;
    margin-left: $radius/8;
}

// #player2_dot1 {
//     background-color: orange;
// }

// #player2_dot2 {
//     background-color: pink;
// }

// #player2_dot3 {
//     background-color: purple;
// }

// #player2_dot4 {
//     background-color: indianred;
// }

// #player2_dot5 {
//     background-color: olivedrab;
// }

// #player2_dot6 {
//     background-color: tomato;
// }